<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play!</title>
    <link rel="stylesheet" href="../stylesheets/game.css">
    <link rel="stylesheet" href="../stylesheets/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body onload="setInfo()">
    <p>Build 0.2</p>
    <div id="big-container">
        <!--Tiles///////////////////////////////////////////////-->
        <div id="board-container" style="display:flex; align-items: center; justify-content: center;">
            <div id="grid">
            </div>
        </div>
        <!--Player info///////////////////////////////////////////////-->
        <div id="game-info-container">
            <div id="player-info-container">
                <p id="info-title">Player info</p>
                <div class="info-line">
                    <p class="myLabel">Publish score?</p>
                    <p class="userInfo" id="does_need_to_publish"><%= is_need_publish_score %></p>
                </div>
                <div class="info-line">
                    <p class="myLabel">Player name: </p>
                    <p class="userInfo" id="final-playername"><%= name %></p>
                </div>
                <div class="info-line">
                    <p class="myLabel">Board: </p>
                    <p class="userInfo" id="final-boardsize">
                        <span id="row_length"><%= number_of_squares_a_row %></span> x
                        <span id="column_length"><%= number_of_squares_a_column %></span></p>
                </div>
                <div class="info-line">
                    <p class="myLabel">No. of Bombs: </p>
                    <p class="userInfo" id="final-numberofbombs"><%= number_of_bombs %></p>
                </div>
                <div class="info-line">
                    <p class="myLabel">Time passed: </p>
                    <p class="userInfo" id="final-time-elapsed">0</p>
                </div>
            </div>
            <br>
            <div id="buttons-container">
                <button class="button" id="undo-button" onclick="App_Operator.undo()">Undo</button>
                <button class="button" id="leaderboard-button" onclick="open_modal()">Leaderboard</button>
                <button class="button" id="exit-button" onclick="exit()">Exit game</button>
            </div>
            <br>
            <p style="color: black; font-size: 14px; line-height: 25px;">
                <b>Left-click: </b>Open 1 square <br />
                <b>Right-click: </b>Flag square <br />
                <b>Middle-click: </b>Open 3x3 square <br />
            </p>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="close_modal()">&times;</span>
                <h2>Leaderboard</h2>
            </div>
            <div class="modal-body">
                <div class="search-container" style="margin-bottom: 20px; margin-top: 20px;">
                    <div style="display: flex; flex-direction: row; align-content: center;">
                        <input id="search_field" placeholder="Search by name">
                        <button class="button" style="margin-right: 170px; margin-top: 5px" onclick="search_by_name()">Search</button>
                        <button class="button" style="margin-right: 10px; margin-top: 5px" onclick="sort_by_bombs()">Sort by
                            Bombs</button>
                        <button class="button" style="margin-right: 10px; margin-top: 5px" onclick="sort_by_date()">Sort by
                            Date</button>
                        <button class="button" style="margin-right: 10px; margin-top: 5px" onclick="sort_by_time()">Sort by
                            Time</button>
                    </div>
                </div>

                <div style="overflow: auto; height: 60vh;">
                    <table id="leaderboard_table">
                        <tr>
                            <th>Player name</th>
                            <th>Board dimension</th>
                            <th>Number of bombs</th>
                            <th>Date played</th>
                            <th>Result</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="../javascripts/Square.js"></script>
<script src="../javascripts/main_code/App_Operator.js"></script>
<script src="../javascripts/main_code/Board_Making.js"></script>
<script src="../javascripts/modal.js"></script>
<script src="../javascripts/game.js"></script>
<script src="../javascripts/Queue.src.js"></script>

<script>
    function setInfo() {

    }

    $('.hoverable').bind("contextmenu", function (e) {
        return false;
    });



    $('#board-container').bind("contextmenu", function (e) {
        return false;
    });

    //Remove the menu context
    $('#board').bind("contextmenu", function (e) {
        return false;
    });

   $('.hoverable').mousedown(function (event) {
        switch (event.which) {
            case 1:
                try {
                    if ($(".hoverable").attr("class").includes("first_click")) {
                    } else {
                        // Handle when first click
                        if (App_Operator.game_state === "Waiting") {
                            // Create the numbers behind the grid
                            App_Operator.first_click_position = parseInt(this.id);
                            Board_Making.get_board_from_api(this.id);
                            // Set timer
                            App_Operator.game_state = "Playing";
                            time_counter();
                            $(".hoverable").addClass("first_click");
                            $(".hoverable").removeClass("hoverable");
                        } else {
                            App_Operator.more_than_second_click = true;
                            App_Operator.show(this.id);
                            let id_query = "#" + this.id;
                            if($(id_query).attr("class").includes("number_0")){
                                App_Operator.expand_all_empty_squares(this.id);
                            }
                            App_Operator.update_state();
                            App_Operator.update_state_for_Square_class();
        
                        }
                        if (App_Operator.is_lose()) {
                            App_Operator.game_state = "Lose";
                        }
                        App_Operator.is_win();
                        App_Operator.active_undo_button();
                    }
                } catch (err) {
                    alert("Error at left click");
                    alert(err);
                }
                break;
            case 2:
                event.preventDefault();
                try {
                    if ($(".hoverable").attr("class").includes("first_click")) {
                    } else {
                        // Handle when first click
                        if (App_Operator.game_state === "Waiting") {
                            // Create the numbers behind the grid
                            App_Operator.first_click_position = parseInt(this.id);
                            Board_Making.get_board_from_api(this.id);
                            // Set timer
                            App_Operator.game_state = "Playing";
                            time_counter();
                            //App_Operator.show(this.id);
                            $(".hoverable").addClass("first_click");
                            $(".hoverable").removeClass("hoverable");
                        } else {
                            App_Operator.handle_middle_click(parseInt(this.id));
                            App_Operator.expand_all_empty_squares(this.id);
                            App_Operator.update_state();
                            App_Operator.update_state_for_Square_class();
                        }
                        if (App_Operator.is_lose()) {
                            App_Operator.game_state = "Lose";
                        }
                        App_Operator.is_win();
                        App_Operator.active_undo_button();
                    }
                } catch (err) {
                    alert("Error at middle click");
                    alert(err);
                }
                break;
            case 3:
                event.preventDefault();
                //$(this).toggleClass("flag_on");
                try {
                    if ($(".hoverable").attr("class").includes("first_click")) {
                    } else {
                        // Handle when first click
                        if (App_Operator.game_state === "Waiting") {
                            alert("You don't need to put a flag now!");
                        } else {
                            if ($(this).attr("class").includes("active")) {
                            } else {
                                $(this).toggleClass("flag_on");
                                App_Operator.update_state();
                                App_Operator.update_state_for_Square_class();
                            }
                        }
                        if (App_Operator.is_lose()) {
                            App_Operator.game_state = "Lose";
                        }
                        App_Operator.is_win();
                        App_Operator.active_undo_button();
                    }
                } catch (err) {
                    alert("Error at right click");
                    alert(err);
                }
                break;
        }
    });
</script>

</html>
